:root {
    --max-width: 800px;
}

html,
body {
    color: #f4f4f4;
}

a {
    text-decoration: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    left: 0;
    top: 0;
    z-index: 1;
    color: #f4f4f4;
}

.logo-dark {
    color: #333;
}

.logo > h1 {
    padding: 2rem;
    font-size: 2.5rem;
}

.logo-dark > a > h1 {
    color: #333;
}

.showcase {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/img/showcase.jpg) center center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.showcase::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.showcase .container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    z-index: 1;
}

.showcase p {
    font-size: 1.3rem;
    padding-bottom: 4rem;
}

.btn {
    display: inline-block;
    padding: 0.6rem 0;
    border: solid 2px #f4f4f4;
    color: #f4f4f4;
    transition: background 0.2s ease-in;
}

.btn:hover {
    background: #4d4d4d;
}

.flex-split {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
}

.flex-split .menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    line-height: 1.8;
}
.menu-content {
    flex-basis: 50%;
}

.plate-img {
    display: block;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    width: 32%;
    height: auto;
    z-index: -1;
}

.flex-split .menu-content > h2 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}

.menu-background {
    background: url(/img/menu.jpg) center center/cover no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    color: #f4f4f4;
    z-index: -1;
}

.reservation-background {
    background: url(/img/reservation.jpg) center center/cover no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    color: #f4f4f4;
    z-index: -1;
}

.menu-light {
    color: #333;
}

.menu-light2 {
    color: #333;
}

.btn {
    padding: 0.6rem 0;
    border: solid 2px #f4f4f4;
    width: 9rem;
    text-decoration: none;
    margin: 0 0.5rem;
    color: #f4f4f4;
    transition: background 0.2s ease-in;
}

.btn2 {
    padding: 0.2rem 0.6rem;
    text-decoration: none;
    margin: 0 0.6rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn2:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    transition: all 0.3s ease-in;
}

.btn2:hover:after {
    background: #333;
    width: 100%;
}

.reservation-form {
    margin-top: 2rem;
    width: 95%;
}

.reservation-form .fformat {
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin: 0.6rem 0;
}

.reservation-form > input {
    width: 100%;
}

.reservation-form > div > .left {
    float: left;
    width: 49%;
}
.reservation-form > div > .right {
    float: right;
    width: 49%;
}

.btn3 {
    height: 3rem;
    width: 100%;
    margin-top: 2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    background: #412E22;
    color: #f4f4f4;
    cursor: pointer;
}

.btn3:hover {
    opacity: 0.8;
}

iframe {
    width: 100%;
    height: 100%;
}

.map {
    filter: grayscale(85%);
    border:0;
    width: 100%;
    height: 80vh;
}

#contact .menu-content {
    padding-left: 0;
}

.flex-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.flex-grid p {
    padding: 0 1rem;
}

.reviews h2 {
    padding-bottom: 1rem;
}

.info-contact {
    padding-top: 2rem;
}

.reviews {
    padding-top: 2rem;
}

#contact-header .btn2 {
    color: #333;
}